@use 'variables' as v;
@use 'mixins' as m;
@use 'placeholders';
@use 'sass:color';

.info-card {
	width: 180px;
	height: 205px;
	padding: 20px 11px 0;
	border-radius: 20px;
	background-color: color.adjust(v.$color_white, $alpha: -0.85);
	@include m.d-flex(start, center, nowrap, column, 0, 10px);

	@media (max-width: v.$media_min) {
		width: 140px;
		height: 170px;

		&__title {
			@include m.font(14px, 400, v.$color_black);
		}

		&__description {
			@include m.font(11px, 300, v.$color_black);
		}
	}

	&__icon {
		width: 50px;
		height: 50px;
		fill: v.$color_black;
	}

	.icon--bulb {
		width: 53px;
		height: 55px;
		padding: 0 0 0 10px;
	}

	&__title {
		@include m.font(18px, 500, v.$color_black);
		text-align: center;
	}

	&__description {
		@include m.font(16px, 300, v.$color_black);
	}

	&:hover {
		cursor: pointer;
		background-color: color.adjust(v.$color_white, $alpha: -0.95);

		.info-card__icon {
			fill: v.$color_white;
		}

		.info-card__title,
		.info-card__description {
			color: v.$color_white;
		}
	}
}
