@use 'variables' as v;
@use 'sass:color';

%hover-black {
	&:hover {
		cursor: pointer;
		color: v.$color_black;
	}
}

%hover-black-icon {
	&:hover {
		cursor: pointer;
		fill: v.$color_black;
	}
}

%hover-light {
	&:hover {
		cursor: pointer;
		color: v.$color_white;
	}
}

%slider__button {
	width: 67px;
	height: 67px;
	border: none;
	border-radius: 20px;
	background-color: color.adjust(v.$color_white, $alpha: -0.85);
	cursor: pointer;
}

%icon_design {
	width: 36px;
	position: relative;
	top: 22px;
	left: 15px;
	height: 23px;
	fill: v.$color_white;
}
