@use 'variables' as v;
@use 'mixins' as m;
@use 'sass:color';

%hover-black {
	&:hover {
		cursor: pointer;
		color: v.$color_black;
	}
}

%hover-black-icon {
	&:hover {
		cursor: pointer;
		fill: v.$color_black;
	}
}

%hover-black-icon-stroke {
	&:hover {
		cursor: pointer;
		stroke: v.$color_black;
	}
}

%hover-light {
	&:hover {
		cursor: pointer;
		color: v.$color_white;
	}
}

%slider__button {
	width: 67px;
	height: 67px;
	border: none;
	border-radius: 20px;
	background-color: color.adjust(v.$color_white, $alpha: -0.85);
	cursor: pointer;
}

%icon_design {
	width: 36px;
	position: relative;
	top: 22px;
	left: 15px;
	height: 23px;
	fill: v.$color_white;
}

%form_input {
	border-radius: 20px;
	width: 100%;
	border: 1px solid v.$border_button;
	height: 50px;
	padding: 8px 20px;
	@include m.font(25px, 400, v.$color_black);
	line-height: 30px;

	&::placeholder {
		@include m.font(25px, 100, v.$border_button);
		font-family: Roboto;
	}
}
